# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/trackit"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="3j94YgJvcBJr0daDRI0Sh9fk9of74EZUSKj86RXvCLc="
AUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
AUTH_DISCORD_ID="1229853709815648257"
AUTH_DISCORD_SECRET="NGGxsv1xsAQn6dSvN0tjUeI8983aUsCE"

# Next Auth Facebook Provider
FACEBOOK_CLIENT_ID="2139047509848512"
FACEBOOK_CLIENT_SECRET="f49f984b50fdd16354f5488b324aa5b6"

# Next Auth Testing Email Provider
EMAIL_SERVER_HOST="sandbox.smtp.mailtrap.io"
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER="b0cdb56d29d2ce"
EMAIL_SERVER_PASSWORD="9796699e2ab5ca"
EMAIL_FROM="noreply@your-domain.com"

# Next Auth Email Provider
# EMAIL_SERVER_HOST=smtp.gmail.com
# EMAIL_SERVER_PORT=587
# EMAIL_SERVER_USER=lunatic_charm_yume@yahoo.com
# EMAIL_SERVER_PASSWORD=ixzscuazdemcyygu
# EMAIL_FROM=lunatic_charm_yume@yahoo.com

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
